.App {
  text-align: center;
  List-style-type: none
}

.Articles_list {
  padding: 15px 16px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.card {
 display: inline-grid;
  align-items: center;
  justify-content: center;
}